body {
    display: block;
    font-size: 16px;
    background-image: linear-gradient(rgb(238, 234, 234), rgb(143, 143, 143));
    margin-bottom: 2px;
    padding: 1%;
    font-family:sans-serif;
}

.infos {
    text-align: center;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 1%;
    margin: 30px 30px 30px 30px;

}

.foto {
    width: 10%;
    border-color: black;
    border-radius: 8px;
    text-align: center;
    margin: 30px 30px 30px 30px;
    padding: 1%;
}

.contatos {
    border: 2px solid black;
    box-sizing: border-box;
    text-align: center;
    margin: 30px 30px 30px 30px;
    padding: 1%;

}

.objetivos {
    border: 2px solid black;
    box-sizing: border-box;
    text-align: center;
    margin: 30px 30px 30px 30px;
    padding: 1%;

}

.formacao {
    border: 2px solid black;
    box-sizing: border-box;
    text-align: center;
    margin: 30px 30px 30px 30px;
    padding: 1%;
}

.cursos {
    border: 2px solid black;
    box-sizing: border-box;
    text-align: center;
    margin: 30px 30px 30px 30px;
    padding: 1%;
}

.exp {
    border: 2px solid black;
    box-sizing: border-box;
    text-align: center;
    margin: 30px 30px 30px 30px;
    padding: 1%;
}

.h1,h2,h3,h4 {
    text-align: center;
    font-size: 22px;
    font-family: fantasy;

}

.nome {
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
}